<h1>Create a Post</h1>


<%= form_for @post do |f| %>
    <%= f.label :content, "New Post: " %>

    <%= f.text_area :content %>

<% end %>

<%= button_to "Add Photo", new_photo_path, method: :get %>
