/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* div.ppr_rup.ppr_priv_homepage_hero .homeHero .home_img { position: absolute; bottom: 0px; height: 100%; width: 100%; object-fit: cover; padding: 0px; margin: 0px; }div.ppr_rup.ppr_priv_homepage_hero .homeHero .home_img.fallback { opacity: 0; }.ppr_priv_homepage_hero .homeHero .home_img { transition: opacity 0.25s ease-in-out 0s; } */

 .header-image{
     background-image: url("https://media-cdn.tripadvisor.com/media/photo-b/1024x250/1a/a8/9a/e2/caption.jpg");
     background-size: cover;
     height: 40vh;
 }
 .mycontainer {
     
     text-align: center;
     width: 60%;
     margin-top: 5%;
     background-color: cornflowerblue;
     color: rgb(204, 229, 233);
     border-radius: 5px;
     padding: 10px;
 }

 body {
     background-color: rgb(225, 217, 217);
 }

 .head-color {
    background-color: rgb(225, 217, 217)
 }

 textarea {
    line-height: 1.2; 
    min-height: 120px; 
    padding: 10px 20px; 
 } 
 
h1 {
    font-family: 'Luckiest Guy', cursive;
    margin-top: 20px;
    text-align: center;
}

.posts {
    margin: auto;
    text-align: center;
}

div.post {
    width: 80%;
    text-align: center;
    padding: 10px;
    background-color: rgb(210, 240, 231);
    margin: 10px auto;
}

.sized-image {
    width: 400px;
    height: auto;
}

.image-container {
    flex-direction: column;
    display: flex;
}